
sidebar{
  background-color: #4A4A4A;
  height: 100vh;
}

main {
  background-color: gray;
  height: 100vh;
  
}
header{
  background-color: #212121;
  color: #ED5A24;
}
.card{
  background-color: #212121;
  color:#ED5A24;
}
@import url('https://fonts.cdnfonts.com/css/moriel');
#titulo{
  margin-bottom: 0;
  font-family: 'Moriel', sans-serif;
  font-size: 65px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

